<body>
	<style>
		A { text-decoration:none; color:black; font-family:arial; }
	</style>
	<table style="width:100%; height:100%">
		<tr>
			<td valign="top" style="text-align:center">
				<div style="width:90%; padding:6px; text-align:left; font-size:14px;">
					<a href="/doc/norme_attuazione_feb2013.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(1 MB)</span><br>
						<b>Piano Urbanistico Comunale</b><br>
						<i>Norme tecniche di attuazione<br>conformit&agrave; e congruenza<br>(aggiornato feb. 2013)</i><br>
						<small style="color:gray">Elaborato D STR</small>
					</a><br><br>
					<a href="/doc/norme_geologiche.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(800 KB)</span><br>
						<b>Piano Urbanistico Comunale</b><br><i>Norme geologiche<br>di attuazione</i><br>
						<small style="color:gray">Elaborato D.1 STR</small>
					</a><br><br>
					<a href="/doc/disciplina_paesistica.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(5 MB)</span><br>
						<b>Piano Urbanistico Comunale</b><br>
						<i>Il sistema territoriale in relazione ai livelli di pianificazione e disposizioni per la disciplina paesistica di livello puntuale</i><br>
						<small style="color:gray">Elaborato E STR</small>
					</a><br><br>
					<a href="/doc/puc_varianti_aggiornamento_nov2009.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(240 KB)</span><br>
						<b>Piano Urbanistico Comunale</b><br>
						<i>Introduzione di varianti di aggiornamento al Piano Urbanistico Comunale (aggiornato nov. 2009)</i><br>
						<small style="color:gray">Raccolta delle schede di variante</small>
					</a><br><br>
					<a href="/doc/puc_tabellone_disposizioni_aggiornato_feb2013.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(3.6 MB)</span><br>
						<b>Piano Urbanistico Comunale</b><br>
						<i>Quadro sinottico delle disposizioni di conformit&agrave; (aggiornato feb. 2013)</i>
					</a><br><br>
					<!--<a href="/doc/puc_tabellone_varianti_aggiornamento_nov2009.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(3.6 MB)</span><br>
						<b>Piano Urbanistico Comunale</b><br>
						<i>Quadro sinottico delle disposizioni di conformit&agrave; (aggiornato nov. 2009)</i>
					</a><br><br>-->
					<a href="/doc/regolamento_edilizio.pdf" target="new">
						<img src="acrobat.gif" border="0">
						<span style="font-size:12px; color:rgb(192,192,192)">(640 KB)</span><br>
						<b>Regolamento edilizio</b><br>
						approvato con D.C.C. n. 53 del 23/12/2011
					</a><br><br>
					<a href="http://www.liguriavincoli.it/dati.asp" target="new">
						<b>Vincoli architettonici, archeologici e paesaggistici</b><br>
						sito a cura di Regione Liguria e Direzione Regionale per i Beni Culturali e Paesaggistici della Liguria
					</a><br><br>
					<a href="http://www.pcn.minambiente.it/viewer_32/viewer.htm?service=SIC_f32&box=536118.3052716941:4894563.268466939:542618.7102991507:4902408.654474833" target="new">
						<b>Siti di Importanza Comunitaria</b><br>sito a cura del Ministero dell'Ambiente
					</a>
				</div>
			</td>
		</tr>
	</table>
</body>